.bannerOferta {
  height: 50vh;
  background: #fff;

  .container {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;

    justify-content: space-between;

    h1 {
      font-size: 3rem;
      text-transform: uppercase;
      color: #86148e;

      padding-top: 2rem;
    }

    div {
      width: 45%;

      p {
        line-height: 2rem;
      }

      button {
        background: #86148e;
        border: 0;
        width: 150px;
        height: 2.5rem;

        font-weight: bold;
        color: #fff;

        border-radius: 0.25rem;
      }
    }

    .agent {
      background-size: 100%;
      background-image: url("../../../public/images/1.svg");
    }
  }
}
