.team {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;

  background-position-x: -10rem;

  height: 100vh;

  .container {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;

    h1 {
      font-size: 3rem;
      text-transform: uppercase;
      color: #86148e;
    }
  }
}
