.banner {
  background: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(#bd1c82),
    to(#86148e)
  );
  .container {
    height: 90vh;
    max-width: 1120px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: right;

    .describe {
      float: right;
      align-items: center;

      width: 55%;
      color: #fff;

      h1 {
        text-transform: uppercase;
        font-size: 6rem;
        line-height: 1rem;
      }

      p {
        font-size: 2rem;
        font-weight: 200;
      }
      .buttons {
        display: flex;
        button {
          height: 3rem;
          width: 210px;

          cursor: pointer;
          background: #721379;

          border: 0;
          font-weight: bold;
          font-size: 1rem;

          display: flex;
          align-items: center;
          justify-content: center;

          color: #fff;
          transition: filter 0.2s;

          & + button {
            margin-left: 1rem;
          }

          &:hover {
            filter: brightness(1.6);
          }

          span {
            svg {
              margin-right: 1rem;
              // padding-top: 0.4rem;
            }
          }
        }
      }
    }

    img {
      width: 41%;
    }
  }
}

.recursos {
  background: #721379;
  padding: 3rem 0;

  .content {
    max-width: 1120px;
    margin: 0 auto;

    display: flex;

    .item {
      background: #641669;
      width: 50%;
      color: #fff;

      padding: 1rem;
      border-radius: 0.2rem;

      h1 {
        font-size: 1rem;
        font-weight: 300;
      }

      & + .item {
        margin-left: 1rem;
      }
    }
  }
}
