.team {
  background-image: url("../../../public/images/fundo-team.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;

  background-position-x: 45rem;

  height: 100vh;

  .container {
    max-width: 1120px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .teamdescribe {
      width: 50%;

      p {
        line-height: 2rem;
      }
      a {
        width: 200px;
        height: 2.5rem;
        margin-top: 2rem;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 0.25rem;
        color: #fff;
        background: #86148e;

        font-weight: bold;
      }
    }

    h1 {
      font-size: 3rem;
      text-transform: uppercase;
      color: #86148e;
    }
  }
}

@media (max-width: 375px) {
  .team {
    height: 100vh;
    background-position-x: 5rem;
    background-position-y: 35rem;
    background-size: 100%;

    .container {
      max-width: 340px;
      height: 100%;

      .teamdescribe {
        width: 100%;
      }

      h1 {
        font-size: 2rem;
      }
    }
  }
}
