.contacts {
  height: 100vh;
  background: #86148e;
  background-position: center;
  background-repeat: no-repeat;

  .container {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;

    h1 {
      font-size: 3rem;
      text-transform: uppercase;
      color: #fff;
    }
  }
}
