.header {
  background: #fff;

  .container {
    max-width: 1120px;
    margin: 0 auto;

    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 70px;
    }

    nav a {
      padding: 0 0.5rem;
      font-size: 1.1rem;
      font-weight: 300;
      color: #86148e;

      & + a {
        margin-left: 2rem;
      }

      &:last-child {
        background: #86148e;
        color: #fff;
        padding: 0.5rem 1.5rem;

        border-radius: 50px;
        transition: filter 0.3s;

        font-weight: 400;

        &:hover {
          filter: brightness(1.5);
        }
      }

      svg {
        margin-right: 0.5rem;
      }
    }
  }
}

@media (max-width: 375px) {
  .header {
    background: red;
  }
}
